*{padding:0;margin:0}
/* 导入字体 */
@font-face {
    font-family: 'Ruizi';   /*字体名称*/
    src: url('../font/ruizi.ttf');       /*字体源文件*/
}
iframe{width:100%;height:150px;}
.container{
    width:1200px;
    margin:0 auto;
}
.cart_title{
    width:100%;
}
.cart_title ul{
    width:50%;
    list-style:none;
    font-family: Ruizi;
}
.cart_title ul li a{
    float:left;
    text-decoration: none;
    color:#333;
    margin-left:25px;
    padding-bottom: 5px;
    font-size:18px;
}
.cart_head div{
    display:inline-block;
    margin-top:20px;
}
.cart_head div:first-child{
    width:100px;
    text-align: center;
}
.cart_head div:nth-child(2){
    width:500px;
}
.cart_head div:nth-child(3),.cart_head div:nth-child(4),.cart_head div:nth-child(5),.cart_head div:nth-child(6){
    width:144px;
}
.cart_product{
    border:1px solid #e1e1e1;
    height:120px;
    margin-top:20px;
    background:#f1f1f1;
}
.cart_product ul{
    list-style: none;
    margin-top:20px;
}
.cart_product ul li{
    float:left;
}
.cart_product ul li:first-child{
    width:100px;
    text-align: center;
}
.cart_product ul li:nth-child(2){
    width:500px;
    display:flex;
}
.cart_product ul li:nth-child(2)>div:nth-child(2){
    width:230px;
    margin-left:20px;
    margin-right:20px;
}
.cart_product ul li:nth-child(2)>div:nth-child(2)>a{
    text-decoration: none;
    color:#333;
}
.cart_product ul li:nth-child(3){
    width:144px;
}
.cart_product ul li:nth-child(4) button{
    width:20px;
    height:20px;
}
.cart_product ul li:nth-child(4) input{
    width:20px;
    text-align: center;
}
.cart_product ul li:nth-child(5){
    margin-left:65px;
    margin-right:70px;
}
.cart_product ul li:nth-child(6) a{
    display:block;
    text-decoration: none;
    color:#333;
    margin-left:20px;
}
.cart_foot{
    height:50px;
    background:#e1e1e1;
    margin-top:20px;
    display:flex;
    align-items: center;
}
.cart_foot div:first-child{
    margin:0px 15px;
}
.cart_foot div:nth-child(2) a{
    text-decoration: none;
    color:#333;
    margin:0 10px;
}
.cart_foot div:nth-child(3) a{
    margin-left:534px;
    text-decoration: none;
    color:#333;
}
.cart_foot div:nth-child(4) a{
    margin-left:20px;
    text-decoration: none;
    color:#333;
}
.cart_foot div:nth-child(5) a{
    margin-left:20px;
    text-decoration: none;
    color:#333;
    /* padding:15px; */
    display:inline-block;
    background:#ffa;
    width:80px;
    height:50px;
    line-height:50px;
    text-align: center;
}