*{padding:0;margin:0}
body{
    font-family: Ruizi;
    color:#666;
}
/* 导入字体 */
@font-face {
    font-family: 'Ruizi';   /*字体名称*/
    src: url('../font/ruizi.ttf');       /*字体源文件*/
}
#container{
    width:1200px;
    margin:0px auto;
}
.breadnav{
    margin-top:20px;
}
.breadnav a{
    font-size:14px;
    text-decoration: none;
    color:#666; 
}
#product{
    margin-top:20px;
    display: flex;

}
.p_left{
    width:450px;
    height:542px;
    overflow: hidden;
}
.p_left_md{
    width:100%;
    height:450px;
    /* border:1px solid #333; */
    background:url(../img/1.jpg) no-repeat;
    background-size:450px 450px;
}
.p_left_sm{
    display: flex;
    height:85px;
    align-items: center;
    justify-content: center;
    border:1px solid #ddd;
    margin-top:5px;
}
.p_left_sm>ul{
   list-style: none
}
.p_left_sm>ul>li{
    float: left;
    margin:0px 5px
}
.p_left_sm>ul>li>a>img{
    width:70px;
    height:70px;
}
.p_left_sm>ul>li>a>img:hover{
    border:1px solid #333;
}
.p_right_title h4{
    margin-top:15px;
    font-weight: normal;
}
.p_right{
    width:720px;
    height:550px;
    margin-left:30px;
}
.p_right_info{
    background:#f1f1f1;
}
.p_right_price{
    width:100%; 
    display: flex;
    height:50px;
    align-items: center;
    margin-top:20px;
    padding-left:10px
}
.p_right_price div:last-child{
    font-size: 24px;
    color:red
}
.p_right_offer,.p_right_add,.p_right_size,.p_right_color,.p_right_count,.p_right_buy{
    display: flex;
    align-items: center;
    padding-left:10px;
    padding-bottom: 10px;
    margin-top:20px;
}   
.p_right_size a{
    text-decoration: none;
    color:#333;
    border:1px solid #ddd;
    text-align: center;
    padding:5px;
}
.p_right_size a,.p_right_color img:hover{
    border-color:#a2d4d5;
}
.p_right_color img{
    width:36px;
    height:36px;
    border:1px dashed #ddd;
}
.p_right_count a{
    text-decoration: none;
    text-align: center;
    line-height:30px;
    width:30px;
    height:30px;
    background:#ededed;
    border:1px solid #CCC;
    color:#333;
}
.p_right_count input{
    width:50px;
    height:30px;
    text-align: center;
    border:1px solid #ccc;
}
.p_right_buy a{
    width:170px;
    height:55px;
    display: block;
    text-decoration: none;;
    text-align: center;
    line-height:55px;
    border-radius: 5px;
    font-size:18px;
}
.p_right_buy a:first-child{
    background:#c9edee;
    border:1px solid #a2d4d5;
    color:#666;
}
.p_right_buy a:first-child:hover{
    background:#a2d4d5;
}
.p_right_buy a:last-child{
    background:#F40;
    margin-left:20px;
    color:#fff;
}
.p_right_buy a:last-child:hover{
    background:#F22D00;
}
.p_right_buy a img{
    position: relative;
    top:4px;
    width:20px;
    height:20px;
}
/* 详情 */
#details{
    width:100%;
    margin-top:30px;
}
.details_title{
    height:50px;
    background:#f1f1f1;
}
.details_title ul{
    list-style: none;
    border:1px solid #eee
}
.details_title ul li {
    width:130px;
    height:48px;
    float: left;
    /* padding:15px; */
    border:1px solid #ddd;
}
.details_title ul li a{
    text-align: center;
    text-decoration: none;
    display:block;
    width:130px;
    height:45px;
    line-height:48px;
    color:#333;
}